@model ChartOfAccountUpdateDto

@{
    ViewData["Title"] = "Update Chart Account";
}


<!-- Content Header (Page header) -->
<section class="container-fluid w-75">
    <partial name="_ResponsePartial" />
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid w-75">
        <div class="row">
            <!-- left column -->
            <div class="col">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Chart Of Account</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="ChartOfAccount" asp-action="UpdateChartOfAccount" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="AccountName"></label>
                                <input asp-for="AccountName" class="form-control" />
                                <span asp-validation-for="AccountName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Code"></label>
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AccountType"></label>
                                <input asp-for="AccountType" class="form-control" />
                                <span asp-validation-for="AccountType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IsActive"></label>
                                <input asp-for="IsActive" type="checkbox" class="form-check-input mx-2" />
                            </div>                          
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        //This code for temp data response fadeOut
        $(document).ready(function () {
            setTimeout(function () {
                $('#response-alert').fadeOut('slow');
            }, 3000);
        });
    </script>
}