@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid w-75 mb-3">
        <partial name="_ResponsePartial" />
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        //This code for temp data response fadeOut
        $(document).ready(function () {
            setTimeout(function () {
                $('#response-alert').fadeOut('slow');
            }, 3000);
        });
    </script>
}