<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Account.Management.Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/css/layout.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <!-- Top Header -->
    <div class="header-bar">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Admin Dashboard</h4>
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link text-white fs-4">Logout</button>
            </form>
        </div>
    </div>

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>

            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#userMenu" role="button" aria-expanded="false" aria-controls="userMenu">
                Users
            </a>
            <div class="collapse" id="userMenu">
                <a asp-controller="AccountManagement" asp-action="CreateRole" class="ps-4">Create Role</a>
                <a asp-controller="AccountManagement" asp-action="RoleList" class="ps-4">Role List</a>
                <a asp-controller="AccountManagement" asp-action="ChangeRole" class="ps-4">User Role Change</a>
                <a asp-controller="AccountManagement" asp-action="GetUserList" class="ps-4">User List</a>  
            </div>

            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#reportMenu" role="button" aria-expanded="false" aria-controls="reportMenu">
                Chart of Accounts
            </a>
            <div class="collapse" id="reportMenu">
                <a asp-controller="ChartOfAccount" asp-action="AddChartOfAccount" class="ps-4">Add Account</a>
                <a asp-controller="ChartOfAccount" asp-action="ChartOfAccountList" class="ps-4">Account List</a>
            </div>

            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#voucherMenu" role="button" aria-expanded="false" aria-controls="voucherMenu">
                Voucher Entry Module
            </a>
            <div class="collapse" id="voucherMenu">            
                <a asp-controller="VoucherType" asp-action="VoucherTypeList" class="ps-4">Voucher Type List</a>
                <a asp-controller="VoucherType" asp-action="CreateVoucherType" class="ps-4">Add Voucher Type</a>

                <a asp-controller="Voucher" asp-action="VoucherList" class="ps-4">Voucher List</a>
                <a asp-controller="Voucher" asp-action="AddVoucher" class="ps-4">Create Voucher</a>

                <a asp-controller="VoucherEntries" asp-action="VoucherEntryList" class="ps-4">Voucher Entries List</a>
                <a asp-controller="VoucherEntries" asp-action="AddVoucherEntry" class="ps-4">Add Voucher Entry </a>
            </div>
        </div>

        <div class="mx-3 mt-3 w-100">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>