@model RoleChangeModel

@{
    ViewData["Title"] = "Change Role";
}
<!-- Content Header (Page header) -->
<section class="container-fluid">
    <partial name="_ResponsePartial" />
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Change User Role</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="AccountManagement" asp-action="ChangeRole" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="UserId"></label>
                                <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="RoleId"></label>
                                <select asp-for="RoleId" asp-items="Model.Roles" class="form-control"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        //This code for temp data response fadeOut
        $(document).ready(function () {
            setTimeout(function () {
                $('#response-alert').fadeOut('slow');
            }, 3000);
        });
    </script>
}
