@{   
    ViewData["Title"] = "Dashboard";
}

@section Styles{
    <link href="~/admin/css/index.css" rel="stylesheet" />
}

<div class="main">
    <div class="child">
        <p>Total User</p>
        <p>@ViewBag.TotalUser</p>
    </div>

    <div class="child">
        <p>Total User Role </p>
        <p>@ViewBag.TotalRole</p>
    </div>

    <div class="child">
        <p>Total Voucher Entry </p>
        <p>20</p>
    </div>

    <div class="child">
        <p>Total Voucher Entry </p>
        <p>20</p>
    </div>

</div>

<div class="main">
    <div class="child">
        <p>Total User</p>
        <p>@ViewBag.TotalUser</p>
    </div>

    <div class="child">
        <p>Total User Role </p>
        <p>@ViewBag.TotalRole</p>
    </div>

    <div class="child">
        <p>Total Voucher Entry </p>
        <p>20</p>
    </div>

    <div class="child">
        <p>Total Voucher Entry </p>
        <p>20</p>
    </div>

</div>